.elementor-3 .elementor-element.elementor-element-e3ea727{color:#000000;}.elementor-3 .elementor-element.elementor-element-e3ea727 p{color:#000000;}body.elementor-editor-active h1.entry-title, body.elementor-editor-active .elementor-page-title{display:block;}