.myshop-widget-ico:before {
    content: "";
    background-image: url(./images/logo.png);
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px
}