
.indent-col-none [class*="col-"] {
    padding: 0;
    margin: 0;
}
.container-fluid .promo-box>img {
    width: 100.1%;
}
.promo-box {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.block-table {
    display: table;
    width: 100%;
    height: 100%;
}
.block-table-cell {
    display: table-cell;
    vertical-align: middle;
}
.promo-box.design-default {
    backface-visibility: hidden;
}
.promo-box .description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.promo-box.design-default .description {
    padding: 4% 9% 5%;
    backface-visibility: hidden;
}
.promo-box .description .title {
    font-weight: 600;
}
.promo-box.design-default .description .title {
    font-size: 36px;
    line-height: 47px;
    padding: 0;
    margin-top: 42px;
}
.promo-box .description .title:not([class^="title color-"]) {
    color: #fff;
}
.btn-lg {
    padding: 1px 49px 1px !important;
    font-size: 16px;
    height: 50px;
}
.promo-box.design-default .description .btn {
    margin-top: 47px;
    border-radius: 0
}
._zoom-in>img, 
.promo-box.zoom-in>img, 
.promo-box-1.zoom-in>img, 
.promo-box.zoom-in>img, 
.blog-thumb .img>img, 
.post .title-block .post-img a>img, 
.block-aside-info .img>img, 
.featured-post .img>img, 
.collection.zoom-in .img>img, 
.personal-block .img>img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
._zoom-in-hover>img, 
.promo-box.zoom-in:hover>img, 
.promo-box-1.zoom-in:hover>img, 
.promo-box.zoom-in:hover>img, 
.blog-thumb .img:hover>img, 
.post .title-block .post-img a:hover>img, 
.block-aside-info .img:hover>img, 
.featured-post .img:hover>img, 
.collection.zoom-in:hover .img>img, 
.personal-block .img:hover>img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    backface-visibility: hidden;
}
.promo-box .btn {
    color: rgb(255, 255, 255);
    background: rgb(95, 209, 121);
}
.promo-box .btn-red {
    color: rgb(255, 255, 255);
    background: rgb(254, 65, 53);
}

.promo-box:hover .btn-red, 
.promo-box:hover .btn {
    background: #333;
    border-color: #333;
    color: #fff;
}