.subcategory-item > .title-top {
    position: absolute;
    margin-top: 0px!important;
    top: 20px;
    left: 20px;
}

.subcategory-item {
    position: relative;
    padding-bottom: 50px;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subcategory-item .title {
    color: #5fd179;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    display: block;
    margin-top: 20px;
    font-weight: 500;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.subcategory-item:hover .title {
    color: #333;
}
.subcategory-item span:first-child img {
    display: block;
    width: 100%;
    height: auto;
}
.subcategory-item.zoom-in span:first-child img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.subcategory-item.zoom-in:hover span:first-child img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.subcategory-item:hover span:first-child {
    display: block;
}
.subcategory-item span:first-child {
    display: block;
    overflow: hidden;
}

.product-grid-wrapper .block-title {
    font-size: 24px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 16px;
    color: #333;
    letter-spacing: 0.02em;
}