.crazy_menu ul, .crazy_menu p{
    float:unset!important;
    margin:unset!important;
}

.crazy_menu {
    background: #ddd;
}
.crazy_menu .navbar-brand{
    height: unset;
    min-height: 50px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: unset!important;
}

.crazy_menu .navbar-header{
    position: relative;
}

.crazy_menu .navbar-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 9px 10px;
    margin: 0 15px 0 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

.crazy_menu .navbar-collapse{
    padding:0px;
}

.crazy_menu .caret {
    margin-left: 0;
}
.crazy_menu .navbar-toggler {
    margin-left: 10px;
}

.crazy_menu .dropdown-toggle:after{
    display: none;
}

.crazy_menu ul{
    list-style: none!important;
}

.crazy_menu .page-content.page-cms ul, .crazy_menu p {
    float: unset!important;
    margin: unset!important;
}

/* Dropdown */

.crazy-menu>ul .menu-dropdown{
    background:#fff;
}
.crazy-menu>ul ul{
    background:rgb(0,0,0,0.02);
}

@media (min-width:768px){
    .crazy-menu>ul>li{
        position:relative;
    }

    .crazy-menu>ul .menu-dropdown li{
        width: 100%;
    }
    
    .crazy-menu>ul .menu-dropdown{
        position:absolute;
        right: 0;
    }

    .crazy-menu>ul{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}


/* --------------------------------------- BS Nav Style --------------------------------------- */

.navbar-nav {
    z-index: 99;
}

.navbar-nav .dropdown-menu a{
    padding-top:5px;
    padding-bottom:5px;
}

.navbar-nav .dropdown-menu{
    padding: 0;
    border: none;
    box-shadow:none;
    background:#eef4ff;
    border-radius: 0;
}


@media (max-width:768px){

    .dropdown-menu{
        transition:1s;
        position: static!important;
    }

    .dropdown a{
        position: relative;
    }

    span.toggle-caret {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        padding: 6px 12px;
    }
}


@media (min-width:768px){

    .navbar-nav .dropdown {
        position: relative;
    }
    
    .navbar-nav .dropdown-menu .dropdown .dropdown-menu{
        position: absolute;
        left:100%;
        top:0;
    }

    .nav.navbar-nav .dropdown-menu .caret {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }
    
    /* 1st Child */
    
    .navbar-nav>.dropdown>.dropdown-menu
    {
        transition:0.5s;
        display: block;
        visibility: hidden;
        opacity: 0;
        top:100px;
    }
    .navbar-nav>.dropdown:hover>.dropdown-menu
    {
        visibility: visible;
        opacity: 1;
        top:100%;
    }
    
    /* 2nd Child */
    
    .navbar-nav>.dropdown>.dropdown-menu>.dropdown>.dropdown-menu
    {
        transition:0.5s;
        display: block;
        visibility: hidden;
        opacity: 0;
    }
    .navbar-nav>.dropdown>.dropdown-menu>.dropdown:hover>.dropdown-menu
    { 
        visibility: visible;
        opacity: 1;
    }


    /* Menu Alignment */

    .crazy-menu.right>ul>li>.dropdown-menu {
        left: unset;
        right: 0;
    }

    .crazy-menu.right>ul{
        right: 0;
    }

    .crazy-menu.right .navbar-nav .dropdown-menu .dropdown .dropdown-menu{
        left:-100%;
    }

    .navbar-header.default{
        float: right;
    }

}