/* Lookbook Slider */

.lookbook {
    position: relative;
    margin-top: 37px;
}


.lookbook {
    position: relative;
    margin-top: 37px;
}
.lookbook img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
}
.lookbook .hint-content {
    position: absolute;
    top: 38px;
    left: 59px;
    z-index: 2;
}
.lookbook .hint {
    margin-top: 15px;
}
.lookbook .hint a {
    text-decoration: none;
}
.lookbook .hint a .hint-title {
    font-size: 14px;
    line-height: 21px;
    display: block;
    text-align: left;
    transition: all 0s linear;
    -ms-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -o-transition: all 0s linear;
}
.lookbook .hint a .hint-title:not([class^="hint-title color-"]) {
    color: #fff;
}
.lookbook .hint a .hint-price {
    color: #5fd179;
    font-size: 24px;
    line-height: 31px;
    font-weight: 500;
    display: block;
    margin-top: 7px;
    margin-left: -2px;
    transition: all 0s linear;
    -ms-transition: all 0s linear;
    -webkit-transition: all 0s linear;
    -o-transition: all 0s linear;
}
.lookbook .hint a:hover {
    text-decoration: none;
}
.lookbook .hint a:hover .hint-title {
    color: #5fd179;
    padding: 0 30px 0 0;
}
.lookbook .hint a:hover .hint-title.color-defaulttext2 {
    color: #5fd179;
}
.lookbook .hint a:hover .hint-price {
    color: #333;
}

.lookbook .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}