/* Our Team */

.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.personal-block .img {
    overflow: hidden;
    display: block;
    backface-visibility: hidden;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
._zoom-in>img, .promo-box.zoom-in>img, .promo-box-1.zoom-in>img, .promo-box.zoom-in>img, .blog-thumb .img>img, .post .title-block .post-img a>img, .block-aside-info .img>img, .featured-post .img>img, .collection.zoom-in .img>img, .personal-block .img>img {
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.img-responsive-block {
    display: block;
    width: 100%;
    height: auto;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.personal-block .title {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-top: 34px;
    color: #333;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.personal-block .title span {
    color: #5fd179;
    font-weight: bold;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 7px;
    padding-bottom: 6px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    letter-spacing: normal;
}
.personal-block .title {
    font-size: 20px;
    font-weight: 500;
    display: inline-block;
    margin-top: 34px;
    color: #333;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.personal-block p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.personal-block .social-icon {
    margin-top: 27px;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.social-icon ul {
    display: inline-block;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.social-icon li:first-child {
    margin-left: 0;
    margin-right: 10px;
}
.social-icon li {
    display: inline-block;
    margin: 0 7px 0 0;
}
.personal-block {
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    padding-bottom: 18px;
}
.social-icon li:first-child a {
    padding-left: 0;
}
.social-icon li a {
    color: #c2c2c2;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    font-size: 19px;
    line-height: 24px;
    padding: 5px;
}
