.promo-img {
    margin-bottom: 20px;
}
.promo-box > img{
    width: 100%;
    object-fit: cover;
}
.promo-box {
    vertical-align: middle;
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    backface-visibility: hidden;
}
.promo-box .container {
    margin-top: 0;
    height: 100%;
}
.promo-box .description {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.promo-box .description p {
    padding: 0;
    margin: 0;
    font-size: 36px;
    line-height: 47px;
    font-weight: 600;
    color: #333333;
}
.promo-box .description .title {
    font-size: 90px;
    line-height: 110px;
    font-weight: 800;
    padding: 0;
    margin-top: 16px;
    color: #333333;
}
.promo-box .description .btn {
    margin-top: 43px;
    color: rgb(255, 255, 255);
    background: rgb(95, 209, 121);
}
.promo-box:hover .description .btn {
    background: #333;
    color: #fff;
    border-color: #333;
}