/** Default Val **/
.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.centred {
    text-align: center;
}

.btn-box a{
  background: #fff;
}

/** banner-section **/

.banner-section{
  position: relative;
  overflow: hidden;
}

.banner-carousel{
  position: relative;
}

.banner-carousel .slide-item{
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 280px 0px 200px 0px;
}

.banner-carousel .slide-item.overlay:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(0deg, rgba(39,39,39,0.8), rgba(39,39,39,0.0) 100%);
  top: 0px;
  right: 0px;
  z-index: 1;
}

.banner-carousel .slide-item.overlay:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-90deg, rgba(39,39,39,0.5)0%, rgba(39,39,39,0.0) 100%);
  top: 0px;
  left: 0px;
  z-index: 1;
}

.banner-carousel .slide-item .image-layer{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  -webkit-transition: all 6000ms linear;
  -moz-transition: all 6000ms linear;
  -ms-transition: all 6000ms linear;
  -o-transition: all 6000ms linear;
  transition: all 6000ms linear;
}

.banner-carousel .slick-active .slide-item .image-layer{
  -webkit-transform:scale(1.15);
  -ms-transform:scale(1.15);
  transform:scale(1.15);
}

.banner-carousel .content-box{
  position: relative;
  display: block;
  max-width: 600px;
  z-index:5;
}

.banner-carousel .content-box h1{
  position: relative;
  display: block;
  color: #fff;
  font-size: 90px;
  line-height: 95px;
  font-weight: 900;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.banner-carousel .slick-active .content-box h1{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms;
}

.banner-carousel .content-box p{
  position: relative;
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 41px;
  font-style: italic;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

.banner-carousel .slick-active .content-box p{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}

.banner-carousel .content-box .btn-box{
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 1300ms ease;
  -moz-transition: all 1300ms ease;
  -ms-transition: all 1300ms ease;
  -o-transition: all 1300ms ease;
  transition: all 1300ms ease;
}

.banner-carousel .slick-active .content-box .btn-box{
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms;
}

.banner-carousel .content-box .btn-box .theme-btn-one{
  padding: 22px 69px;
}


.banner-carousel .slick-nav .slick-prev{
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: 600;
  color: #272727;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.2;
  transition: all 500ms ease;
}

.banner-carousel .slick-nav .slick-next{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 24px;
  font-weight: 600;
  color: #272727;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.2;
  transition: all 500ms ease;
}

.banner-carousel:hover .slick-nav .slick-prev,
.banner-carousel:hover .slick-nav .slick-next{
  opacity: 1;
}

.banner-carousel .slick-nav .slick-prev:hover,
.banner-carousel .slick-nav .slick-next:hover{
  color: #fff;
}

/** banner-style-two **/

.banner-section.style-two .banner-carousel .content-box{
  max-width: 870px;
  margin: 0 auto;
}

.banner-section.style-two .banner-carousel .content-box h1{
  font-size: 100px;
  line-height: 100px;
}

.banner-section.style-two .banner-carousel .slide-item{
  padding: 185px 0px 195px 0px;
}

.banner-section.style-two .banner-carousel .slide-item:before{
  background: #272727;
  opacity: 0.5;
}