/* Testimonial */

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    margin: auto;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.blog-fluid {
    text-align: center;
    padding: 121px 20px 182px;
    display: block;
    overflow: hidden;
    position: relative;
}

a:active, a:visited, a:focus {
    text-decoration: none;
    outline: none;
}

.blog-fluid a {
    display: inline-block;
}

.blog-fluid img {
    max-width: 125px;
    margin-bottom: 70px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.blog-fluid img:after {
    content: "4";
    display: block;
    position: relative;
    width: 100%;
}

.blog-fluid .icon {
    font-size: 130px;
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #5fd179;
    padding-bottom: 15px;
    opacity: .1;
}

.blog-fluid .title {
    color: #333;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 27px;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.slider-blog-fluid .slick-dots {
    bottom: 16.2%;
}

.slick-dots {
    position: absolute;
    bottom: 10.3%;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}

.slick-dots li.slick-active button:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.slick-dots li.slick-active button {
    background: none;
}

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 10px;
    width: 0px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    padding: 0 5px;
    color: transparent;
    cursor: pointer;
    background: #c2c2c2;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button:before {
    display: block;
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #c2c2c2;
    top: -5px;
    left: -5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}