<script type="text/html" id="edit_with_button">
	<a href="{$proper_href}" id="edit_with_button_link" class="button button-primary button-hero"><img src="{$icon_url}" alt="Crazy Elements Logo"> {l s='Edit with Crazyelements' mod='crazyelements'}</a>
</script>
<script type="text/html" id="edit_prod_with_crazy">
		<a href="https://classydevs.com/prestashop-page-builder/pricing/?utm_source=crazyfree_prod_desc&utm_medium=crazyfree_prod_desc&utm_campaign=crazyfree_prod_desc&utm_id=crazyfree_prod_desc&utm_term=crazyfree_prod_desc&utm_content=crazyfree_prod_desc"  id="edit_prod_with_crazy_link" class="button button-primary button-hero" target="_blank"><img src="{$icon_url}" alt="Crazy Elements Logo"> {l s='Get Crazyelements Pro and Edit Your Product Description More Beautifully' d='Modules.Crazyelements.Addjs'}</a>
</script>
<script type="text/html" id="edit_catg_with_crazy">
		<a href="https://classydevs.com/prestashop-page-builder/pricing/?utm_source=crazyfree_catg_desc&utm_medium=crazyfree_catg_desc&utm_campaign=crazyfree_catg_desc&utm_id=crazyfree_catg_desc&utm_term=crazyfree_catg_desc&utm_content=crazyfree_catg_desc"  id="edit_catg_with_crazy_link" class="button button-primary button-hero" target="_blank"><img src="{$icon_url}" alt="Crazy Elements Logo"> {l s='Get Crazyelements Pro and Edit Your Category Description More Beautifully' d='Modules.Crazyelements.Addjs'}</a>
</script>