html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
  line-height: 26px;
}
html *:focus {
  outline:none;
}

:root {
  --primarycolor: #fea000;
}

/* Slider */

.carousel .carousel-item {
  height: 100%;
}
.carousel .carousel-item img {
  width: 100%;
  max-width: 100%;
  min-height: 320px;
  object-fit: cover;
}

.carousel .carousel-item a{
  color:#fff;
}

.carousel .carousel-item .caption {
  position: absolute;
  width: 100%;
  padding: 200px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.carousel .carousel-item figure {
  margin: 0;
  display: inline-block;
}
.carousel .carousel-control {
  opacity: 1;
}
.carousel .carousel-control .icon-next:before,
.carousel .carousel-control .icon-prev:before {
  content: "";
}
.carousel .carousel-control .icon-next i,
.carousel .carousel-control .icon-prev i {
  transition:1s;
  font-size: 50px;
  position: absolute;
  color:#c2c2c2;
}
.carousel .carousel-control .icon-next i{
  right:0px;
}
.carousel .carousel-control .icon-prev i{
  left:0px;
}
.carousel .carousel-control .icon-next:hover i,
.carousel .carousel-control .icon-prev:hover i {
  color: var(--primarycolor);
}
.carousel .carousel-control .icon-prev {
  left: 0;
  margin:0px;
}
.carousel .carousel-control .icon-next {
  right: 0;
  margin:0px;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background: none;
}
.carousel-indicators li {
  transition:0.5s;
  border: 2px transparent;
  background: var(--primarycolor);
}
.carousel-indicators li:hover{
  border: 2px solid var(--primarycolor);
  background: var(--primarycolor);
}
.carousel-indicators .active {
  background-color: transparent;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 2px solid var(--primarycolor);
}

.display-1 {
  font-size: 3.125rem;
  font-weight: 800;
}

@media (max-width: 1199px) {
  .display-1 {
    font-size: 28px;
  }
  .carousel .carousel-item .caption {
    padding: 80px;
  }
}
@media (max-width: 991px) {
  .display-1 {
    font-size: 22px;
  }
  .carousel .carousel-item .caption {
    padding: 60px;
  }
}

.carousel .carousel-overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0,0,0,0.2);
}

.carousel-item .caption{
  transition: 1s;
  opacity: 0;
  margin-top:100px;
}

.carousel-item.active .caption{
  opacity: 1;
  margin-top:0px;
}

/* Theme Menu */

#header .cart-preview #product_cart_btn{
  font-weight: 600;
}
  #header .cart-preview {
  margin-top: 25px;
  margin-bottom: 10px;
}

#header .cart-preview :hover{
  cursor: pointer;
}

#header .mobile-toggle {
  font-size: 20px;
  color: #333;
  line-height: 48px;
}

#header .menu > ul > li{
  padding: 16px 40px 16px 0px;
}

#header .menu > ul > li > a {
  padding: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}



@media (min-width:768px){
    .theme-menu .menu-dropdown ul{
      background: white;
      box-shadow: 0px 5px 30px -10px rgb(0,0,0,0.2);
    }

    /* Menu */
    .theme-menu *{
      z-index: 9;
    }
    .theme-menu ul a,
    .theme-menu ul ul,
    .theme-menu ul li
    {
      transition:0.5s;
    }

    .theme-menu>ul{
      padding:0;
      display:flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .theme-menu ul>li{
      padding:10px;
      position:relative;
    }

    .theme-menu ul li{
      list-style:none;
    }

    .theme-menu a,
    .theme-menu ul,
    .theme-menu li
    {
      transition:0.5s;
    }

    .theme-menu{
      padding:0;
      display:flex;
      align-items: center;
      z-index: 99;
    }

    .theme-menu>li{
      padding:10px;
      position:relative;
    }

    .full-width>li{
      position:unset;
    }

    .theme-menu li{
      list-style:none;
    }

    .menu-dropdown ul[data-depth="1"]
    {
      position:absolute;
      top:150%;
      left:0px;
      padding:unset;
    }

    .menu-dropdown ul
    {
      opacity:0;
      visibility:hidden;
      box-shadow:0px 20px 30px -5px rgb(0,0,0,0.08);
    }

    .theme-menu li:hover ul[data-depth="1"],
    .theme-menu li ul[data-depth="1"] li:hover ul[data-depth="2"],
    .theme-menu li ul[data-depth="2"] li:hover ul[data-depth="3"],
    .theme-menu li ul[data-depth="3"] li:hover ul[data-depth="4"]
    {
      opacity:1;
      top:100%;
      visibility:visible;
      z-index: 9;
    }

    /* Level Dropdown */

    .menu-dropdown ul li {
      position:relative!important;
    }

    .menu-dropdown ul ul {
      position:absolute!important;
      left:100%;
      top:0%!important;
    }


    .theme-menu .menu-dropdown i{
      position: absolute;
      right:10px;
      top:30%;
    }


    /* Custom Header Style */

    #header .header-nav .blockcart {
        background: #232328;
    }

    .header-top #_desktop_logo h1
    {
        margin-top:5px;
        margin-bottom:5px;
    }

    #header .header-top .position-static {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    #header .header-top .menu , .top-menu{
        margin-bottom: 0px;
    }

    #header .top-menu .menu-dropdown li {
      width: 100%;
    }


    #header .header-nav{
        margin-bottom: 0px;
        border:none;
    }

    /* Checkout Page Menu */
    .checkout-header > div > div {
        display:flex;
        justify-content:space-between;
        gap:10px;
        padding-top:10px;
        padding-bottom:10px;
    }

  }

  #header .header-top {
    border-bottom: 1px solid #f0f0f0;
  }

  #header .sidebar__single{
    position: absolute;
    left: 15px;
    right: 65px;
    max-width: 100%;
    z-index:99;
    display: none;
  }

  #header .search-toggle {
    position: absolute;
    right: 15px;
  }

  #header .search-toggle-off {
    display: none;
  }

  .header-menu > div:not(.mobile-toggle){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 50px;
  }

  #header .header-nav-row .header-top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
  }

  #header .header-nav-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  #header .header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  #header .header-nav-row div {
    max-width: -webkit-fill-available;
  }

  .search-toggle {
    position: relative;
    text-align: center;
  }

  .search-toggle i:hover{
    cursor: pointer;
  }

  .sidebar__search i.search{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 20px;
  }

  .sidebar__search{
    background-color: #ddd;
  }

  .sidebar__title {
    margin: 0;
    margin-bottom: 30px;
    font-family: var(--thm-font);
    color: var(--thm-black);
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    margin-top: -5px;
  }

  .sidebar__social-list {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .sidebar__social-list a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    text-align: center;
    width: 57px;
    height: 57px;
    background-color: var(--thm-gray);
    color: #9ca3a9;
    font-size: 16px;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .sidebar__social-list a+a {
    margin-left: 10px;
  }

  .sidebar__social-list a:hover {
    background-color: var(--thm-primary);
    color: #ffffff;
  }

  .sidebar__post-list li {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .sidebar__post-list li+li {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eceeef;
  }

  .sidebar__post-image {
    margin-right: 20px;
  }

  .sidebar__post-image>img {
    width: 61px;
  }

  .sidebar__post-content h3 {
    color: var(--thm-black);
    font-size: 18px;
    line-height: 30px;
    font-family: var(--thm-font);
    margin: 0;
  }

  .sidebar__post-content h3 a {
    color: inherit;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  .sidebar__post-content h3 a:hover {
    color: var(--thm-primary);
  }

  .sidebar__search-form {
    position: relative;
  }

  .sidebar__search-form input[type=text] {
    display: block;
    border: none;
    outline: none;
    background-color: #f6f6f8;
    font-size: 14px;
    font-weight: 300;
    padding-left: 50px;
    height: 50px;
    width: 100%;
    padding-right: 100px;
  }

  .sidebar__search-form button.sidebar__search_btn:before {
    content: '';
    position: absolute;
    width: 1px;
    top: 10px;
    bottom: 10px;
    left: 0;
    background: #d8d8d8;
  }

  .sidebar__search-form button[type=submit] {
    background: var(--primarycolor);
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100px;
    outline: none;
    border: none;
    transition: 0.5s;
    color: #fff;
    font-weight: 600;
    letter-spacing: .5px;
  }

/* Theme Design */


.page-content > ul li {
  padding: 10px;
  list-style: inside;
}

/* Product Layout */

.products-selection {
  font-family: 'poppins';
  font-size:14px;
  padding-bottom: 10px;
}

@media (max-width:576px){
  .products-selection > div {
    padding-bottom: 10px;
  }
}

/** template woocommerce css **/

  .product-variants .input-container .color.texture{
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .products .product-variant > a {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .shop-section{
    position: relative;
    padding-bottom: 120px;
  }
  
  .shop-block-one{
    position: relative;
  }
  
  .shop-block-one .inner-box{
    position: relative;
    display: block;
    margin-bottom: 33px;
  }
  
  .shop-block-one .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    height: min-content;
  }
  
  .shop-block-one .inner-box .image-box img{
    width: 100%;
    position: static !important;
  }

  .product-flags {
    pointer-events: none;
    position: absolute;
    top: 20px;
    right: 0px;
    left:unset;
    width:unset;
    display: flex;
    gap:5px;
    flex-direction: column;
    z-index: 2;
  }
  
  .product-flags .category
  {
    right: 0px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    min-width: 55px;
    padding:0px 10px;
    text-align: center;
    position: relative;
  }
  
  .product-flags .category:before{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    top: 0px;
    left: -6px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 0);
  }
  
  .product-flags .category:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    bottom: 0px;
    left: -6px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0 0);
  }
  
  .shop-block-one .inner-box .image-box .info-list{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: scale(0.2);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease;
  }

  .shop-block-one .inner-box:hover .image-box .info-list {
    top: 50%;
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  
  .shop-block-one .inner-box .image-box .info-list li{
    position: relative;
    display: inline-block;
    margin-right: 2px;
  }
  
  .shop-block-one .inner-box .image-box .info-list li:last-child{
    margin-right: 0px;
  }
  
  .shop-block-one .inner-box .image-box .info-list li a{
    transition:0.2s;
    font-family: 'poppins';
    font-size: 14px;
    display: inline-block;
    width: 135px;
    line-height: 45px;
    text-align: center;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background:#fff;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.08);
  }
  .shop-block-one .inner-box .image-box .info-list li a i{
    font-size: 25px;
    color:var(--primarycolor);
  }

  .shop-block-one .inner-box .image-box .info-list li a:hover i {
    color:white;
  }

  .shop-block-one .inner-box .image-box .info-list li a:hover{
    color:white;
    background:var(--primarycolor);
  }
  
  .shop-block-one .inner-box .lower-content{
    position: relative !important;
    text-align: center;
    margin-top: 8px;
    width: 100% !important;
    height: auto !important;
  }
  
  .shop-block-one .inner-box .lower-content a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #222;
    margin-bottom: 3px;
  }

  .shop-block-one .inner-box .lower-content a:hover{
    color: var(--primarycolor);
  }
  
  .shop-block-one .inner-box .lower-content .price{
    position: relative;
    display: block;
    font-size: 28px;
    font-weight: 600;
    color: var(--primarycolor);
    margin: 0px;
    width: 100%;
  }
  
  .shop-section .filters{
    position: relative;
    display: block;
    margin-bottom: 48px;
  }
  
  .shop-section .filters .filter-tabs li{
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    color: #888;
    margin: 0px 15px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .shop-section .filters .filter-tabs li:hover,
  .shop-section .filters .filter-tabs li.active{
    color: #222;
  }
  
  .shop-section .filters .filter-tabs li:before{
    position: absolute;
    content: '';
    background: #828282;
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: 0px;
    transform: scale(0,0);
    transition: all 500ms ease;
  }
  
  .shop-section .filters .filter-tabs li:hover:before,
  .shop-section .filters .filter-tabs li.active:before{
    transform: scale(1,1);
  }
  
  .shop-section .more-btn{
    position: relative;
    margin-top: 10px;
  }
  
  .shop-section .inner-container{
    border-bottom: 1px solid #e6e6e6;
  }
  
  /** shop-style-two **/
  
  .shop-style-two{
    position: relative;
  }
  
  .shop-style-two .filters .separator {
    position: relative;
    display: block;
    width: 141px;
    height: 15px;
    margin: 0 auto;
    background-repeat: no-repeat;
  }
  
  .shop-style-two .filters{
    position: relative;
    margin-bottom: 70px;
  }
  
  .shop-style-two .filters .filter-tabs{
    position: relative;
    margin-bottom: 24px;
  }
  
  .shop-style-two .filters .filter-tabs li{
    position: relative;
    display: inline-block;
    font-size: 35px;
    line-height: 40px;
    font-family: 'Josefin Sans', sans-serif;
    color: #888;
    font-weight: 600;
    margin: 0px 30px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .shop-style-two .filters .filter-tabs li.active,
  .shop-style-two .filters .filter-tabs li:hover{
    color: #222;
  }
  
  .shop-style-two .filters .filter-tabs li:before{
    position: absolute;
    content: '';
    background: #222;
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: 6px;
    transform: scale(0,0);
    transition: all 500ms ease;
  }
  
  .shop-style-two .filters .filter-tabs li.active:before,
  .shop-style-two .filters .filter-tabs li:hover:before{
    transform: scale(1,1);
  }
  
  .shop-block-two .inner-box{
    position: relative;
    display: block;
    margin-bottom: 63px;
  }
  
  .shop-block-two .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .shop-block-two .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
  }
  
  .shop-block-two .inner-box:hover .image-box img{
    transform: scale(1.05);
  }
  
  .shop-block-two .inner-box .image-box .category{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    width: 55px;
    text-align: center;
  }
  
  .shop-block-two .inner-box .image-box .category:before{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    top: 0px;
    left: -6px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 0);
  }
  
  .shop-block-two .inner-box .image-box .category:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    bottom: 0px;
    left: -6px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0 0);
  }
  
  .shop-block-two .inner-box .lower-content{
    position: relative;
    padding-top: 19px;
  }
  
  .shop-block-two .inner-box .lower-content a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #222;
    margin-bottom: 3px;
  }
  
  .shop-block-two .inner-box .lower-content .price{
    position: relative;
    display: block;
    font-size: 15px;
    color: #222;
    margin: 0px;
  }
  
  .shop-block-two .inner-box .image-box .info-list{
    position: absolute;
    right: -55px;
    bottom: 30px;
    width: 55px;
    height: 150px;
    text-align: center;
    background: #222;
    padding: 5px 0px;
    border-radius: 3px;
    visibility: hidden;
    transition: all 500ms ease;
  }
  
  .shop-block-two .inner-box:hover .image-box .info-list{
    right: 10px;
    visibility: visible;
  }
  
  .shop-block-two .inner-box .image-box .info-list li{
    position: relative;
    display: block;
    padding: 10px 0px;
  }
  
  .shop-block-two .inner-box .image-box .info-list li:before{
    position: absolute;
    content: '';
    background: rgba(255,255,255,0.2);
    width: 20px;
    height: 1px;
    left: 17px;
    bottom: 0px;
  }
  
  .shop-block-two .inner-box .image-box .info-list li:last-child:before{
    display: none;
  }
  
  .shop-block-two .inner-box .image-box .info-list li a{
    font-size: 20px;
    color: #fff;
  }
  
  .shop-block-two .inner-box .image-box .info-list li span{
    position: absolute;
    display: inline-block;
    right: 53px;
    top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 90px;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
  }
  
  .shop-block-two .inner-box .image-box .info-list li span:before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 8px;
    right: -3px;
    transform: rotate(45deg);
  }
  
  .shop-block-two .inner-box .image-box .info-list li:hover span{
    right: 63px;
    visibility: visible;
    opacity: 1;
  }

  
  .shop-style-two .sortable-masonry{
    border-bottom: 1px solid #e6e6e6;
  }
  
  .shop-sidebar .widget-title{
    position: relative;
    display: block;
    margin-bottom: 20px;
  }
  
  .shop-sidebar .widget-title h2{
    font-size: 30px;
    line-height: 35px;
    font-weight: 600;
    color: #222;
    margin: 0px;
  }
  
  .shop-sidebar .post-widget .post-inner .post{
    position: relative;
    padding: 14px 0px 18px 120px;
    margin-bottom: 30px;
    min-height: 90px;
  }
  
  .shop-sidebar .post-widget .post-inner .post:last-child{
    margin-bottom: 0px;
  }
  
  .shop-sidebar .post-widget .post-inner .post .image-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    overflow: hidden;
  }
  
  .shop-sidebar .post-widget .post-inner .post .image-box img{
    width: 100%;
    transition: all 500ms ease;
  }
  
  .shop-sidebar .post-widget .post-inner .post:hover .image-box img{
    opacity: 0.2;
  }
  
  .shop-sidebar .post-widget .post-inner .post .inner a{
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    color: #222;
    margin-bottom: 6px;
  }
  
  .shop-sidebar .post-widget .post-inner .post .inner p{
    color: #222;
    margin: 0px;
  }
  
  .shop-sidebar .post-widget{
    margin-bottom: 70px;
  }
  
  .shop-sidebar .advice-box{
    position: relative;
    display: block;
    background: #3d4875;
    padding: 36px 30px 130px 25px;
    overflow: hidden;
  }
  
  .shop-sidebar .advice-box .image{
    position: absolute;
    right: -30px;
    bottom: 0px;
  }
  
  .shop-sidebar .advice-box .text{
    position: relative;
    max-width: 80px;
    width: 100%;
  }
  
  .shop-sidebar .advice-box .text h2{
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 46px;
    color: #fff;
    font-weight: 600;
    margin: 0px;
  }
  
  .shop-sidebar .advice-box .pattern{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 139px;
    height: 271px;
    background-repeat: no-repeat;
  } 
  
  .sidebar-page-container .filters{
    margin-bottom: 48px;
  }
  
  .sidebar-page-container .filters .filter-tabs li{
    position: relative;
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #888;
    margin: 0px 25px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  
  .sidebar-page-container .filters .filter-tabs li:hover,
  .sidebar-page-container .filters .filter-tabs li.active{
    color: #222;
  }
  
  .sidebar-page-container .filters .filter-tabs li:before{
    position: absolute;
    content: '';
    background: #828282;
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: -2px;
    transform: scale(0,0);
    transition: all 500ms ease;
  }
  
  .sidebar-page-container .filters .filter-tabs li:hover:before,
  .sidebar-page-container .filters .filter-tabs li.active:before{
    transform: scale(1,1);
  }
  
  .sidebar-page-container .filters .filter-tabs li:after{
    position: absolute;
    content: '';
    background: #ccccca;
    width: 8px;
    height: 8px;
    top: 12px;
    right: -28px;
    transform: rotate(45deg);
  }
  
  .sidebar-page-container .filters .filter-tabs li:last-child:after{
    display: none;
  }
  
  .sidebar-page-container .filters .filter-tabs li:last-child{
    margin-right: 0px;
  }
  
  .sidebar-page-container .filters .filter-tabs li:first-child{
    margin-left: 0px;
  }
  
  /** shop-style-three **/
  
  .shop-style-three{
    position: relative;
    padding: 120px 0px;
  }
  
  .advice-block .advice-box{
    position: relative;
    padding: 65px 15px 70px 15px;
    overflow: hidden;
  }
  
  .advice-block .advice-box:before{
    position: absolute;
    content: '';
    background: rgba(255,255,255,0.05);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -110px;
  }
  
  .advice-block .advice-box h3{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    margin-bottom: 17px;
  }
  
  .advice-block .advice-box h2{
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 11px;
  }
  
  .advice-block .advice-box .price span{
    position: relative;
    display: block;
    font-size: 24px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 500;
    margin-bottom: 63px;
  }
  
  .advice-block .advice-box .price span del{
    font-size: 18px;
  }
  
  .advice-block .advice-box .image-box{
    position: relative;
  }
  
  .shop-style-three .tab-btn-box{
    position: relative;
    display: block;
    margin-bottom: 30px;
  }
  
  .shop-style-three .tab-btn-box h2{
    position: relative;
    display: block;
    float: left;
    font-size: 30px;
    line-height: 35px;
    color: #222;
    font-weight: 600;
    margin: 0px;
  }
  
  .shop-style-three .tab-btn-box .tab-btns{
    position: relative;
    margin-top: 7px;
  }
  
  .shop-style-three .tab-btn-box .tab-btns li{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #888;
    cursor: pointer;
    margin: 0px 17.5px;
    transition: all 500ms ease;
  }
  
  .shop-style-three .tab-btn-box .tab-btns li:before{
    position: absolute;
    content: '';
    background: #222;
    width: 100%;
    height: 1px;
    left: 0px;
    bottom: 2px;
    transform: scale(0,0);
    transition: all 500ms ease;
  }
  
  .shop-style-three .tab-btn-box .tab-btns li.active-btn:before,
  .shop-style-three .tab-btn-box .tab-btns li:hover:before{
    transform: scale(1,1);
  }
  
  .shop-style-three .tab-btn-box .tab-btns li.active-btn,
  .shop-style-three .tab-btn-box .tab-btns li:hover{
    color: #222;
  }
  
  .shop-block-three .inner-box{
    position: relative;
    display: block;
  }
  
  .shop-block-three .inner-box .image-box{
    position: relative;
    display: block;
    overflow: hidden;
    background: #fff;
  }
  
  .shop-block-three .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
  }
  
  .shop-block-three .inner-box:hover .image-box img{
    opacity: 0.3;
    transform: scale(1.05);
  }
  
  .shop-block-three .inner-box .lower-content{
    position: relative;
    padding-top: 19px;
  }
  
  .shop-block-three .inner-box .lower-content a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #222;
    margin-bottom: 3px;
  }
  
  .shop-block-three .inner-box .lower-content .price{
    position: relative;
    display: block;
    font-size: 15px;
    color: #222;
    margin: 0px;
  }
  
  .shop-block-three .inner-box .image-box .info-list{
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    visibility: hidden;
    transition: all 500ms ease;
  }
  
  .shop-block-three .inner-box:hover .image-box .info-list{
    right: 10px;
    visibility: visible;
  }
  
  .shop-block-three .inner-box .image-box .info-list li{
    position: relative;
    display: block;
    margin-bottom: 3px;
  }
  
  .shop-block-three .inner-box .image-box .info-list li:last-child{
    margin-bottom: 0px;
  }
  
  .shop-block-three .inner-box .image-box .info-list li a{
    position: relative;
    display: inline-block;
    font-size: 20px;
    color: #c8cace;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .shop-block-three .inner-box .image-box .info-list li span{
    position: absolute;
    display: inline-block;
    right: 53px;
    top: 15px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    border-radius: 2px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    width: 90px;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms ease;
  }
  
  .shop-block-three .inner-box .image-box .info-list li span:before{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    top: 8px;
    right: -3px;
    transform: rotate(45deg);
  }
  
  .shop-block-three .inner-box .image-box .info-list li:hover span{
    right: 63px;
    visibility: visible;
    opacity: 1;
  }
  
  .shop-block-three .inner-box .image-box .category{
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 30px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    width: 55px;
    text-align: center;
  }
  
  .shop-block-three .inner-box .image-box .category:before{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    top: 0px;
    right: -7px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%, 0% 100%, 0% 0%);
  }
  
  .shop-block-three .inner-box .image-box .category:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    bottom: 0px;
    right: -7px;
    clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  
  /** shop-style-four **/
  
  .shop-style-four{
    position: relative;
  }
  
  .shop-style-four .inner-container{
    position: relative;
    padding: 115px 0px 90px 0px;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .shop-style-four .single-block .top-inner{
    position: relative;
    display: block;
    margin-bottom: 36px;
  }
  
  .shop-style-four .single-block .top-inner h2{
    position: relative;
    display: block;
    float: left;
    font-size: 30px;
    line-height: 35px;
    color: #222;
    font-weight: 600;
    margin: 0px;
  }
  
  .shop-style-four .single-block .top-inner a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #222;
    font-weight: 600;
    margin-top: 5px;
    z-index: 1;
    opacity: 0.5;
  }
  
  .shop-style-four .single-block .top-inner a:hover{
    opacity: 1;
  }
  
  .shop-style-four .single-block .top-inner a i{
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-left: 15px;
    font-weight: 600;
    top: 2px;
    transform: rotate(-30deg);
    transition: all 500ms ease;
  }
  
  .shop-style-four .single-block .top-inner a:hover i{
    transform: rotate(0deg);
  }
  
  .shop-style-four .single-block .top-inner a:before{
    position: absolute;
    content: '';
    background: #222;
    width: 0%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    transition: all 500ms ease;
  }
  
  .shop-style-four .single-block .top-inner a:hover:before{
    width: 100%;
  }
  
  .shop-block-four{
    position: relative;
    display: block;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 30px 30px;
    min-height: 150px;
    margin-bottom: 30px;
    transition: all 500ms ease;
  }
  
  .shop-block-four:hover{
    border-color: #fff;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  }
  
  .shop-block-four .inner-box{
    position: relative;
    padding: 15px 0px 18px 120px;
  }
  
  .shop-block-four .inner-box .image-box{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 90px;
    height: 90px;
    overflow: hidden;
  }
  
  .shop-block-four .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
  }
  
  .shop-block-four:hover .inner-box .image-box img{
    opacity: 0.2;
  }
  
  .shop-block-four .inner-box .inner a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #222;
    margin-bottom: 5px;
  }

  .shop-block-four .inner-box .inner p{
    color: #222;
  }
  
  .shop-page-4 .outer-container{
    max-width: 1710px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
  }
  
  .shop-page-section.shop-page-4 .item-shorting{
    position: inherit;
  }
  
  .shop-page-section.shop-page-4 .shop-block-one{
    max-width: 400px;
  }
  
  .shop-page-section.shop-page-4 .shop-block-one .inner-box .image-box .info-list li:nth-child(2) a{
    width: 263px;
  }
  
  .shop-block-five .inner-box{
    position: relative;
    display: block;
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    min-height: 390px;
  }
  
  .shop-block-five .inner-box .image-box{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 270px;
    height: 350px;
    overflow: hidden;
  }
  
  .shop-block-five .inner-box .image-box img{
    width: 100%;
    transition: all 500ms ease;
  }
  
  .shop-block-five .inner-box:hover .image-box img{
    opacity: 0.2;
    transform: scale(1.05);
  }
  
  .shop-block-five .inner-box .image-box .category{
    position: absolute;
    display: inline-block;
    right: 0px;
    top: 20px;
    font-size: 13px;
    color: #fff;
    font-weight: 700;
    height: 27px;
    line-height: 27px;
    width: 55px;
    text-align: center;
    z-index: 1;
  }
  
  .shop-block-five .inner-box .image-box .category:before{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    top: 0px;
    left: -6px;
    clip-path: polygon(0% 0%, 100% 0, 100% 100%, 100% 100%, 0 0);
  }
  
  .shop-block-five .inner-box .image-box .category:after{
    position: absolute;
    content: '';
    width: 7px;
    height: 13px;
    bottom: 0px;
    left: -6px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%, 0 0);
  }
  
  .shop-block-five .inner-box .content-box{
    position: relative;
    padding: 41px 30px 46px 300px;
  }
  
  .shop-block-five .inner-box .content-box .info-list li{
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 2px;
  }
  
  .shop-block-five .inner-box .content-box .info-list li:last-child{
    margin: 0px !important;
  }
  
  .shop-block-five .inner-box .content-box .info-list li a{
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #222;
  }
  
  .shop-block-five .inner-box .content-box .info-list li:nth-child(2) a{
    width: 135px;
    background: #4e4e4e;
    font-size: 16px;
    font-weight: 600;
  }

  .shop-block-five .inner-box .content-box .text a{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #222;
    margin-bottom: 3px;
  }
  
  .shop-block-five .inner-box .content-box .text .price{
    position: relative;
    display: block;
    font-size: 15px;
    color: #222;
    margin-bottom: 26px;
  }
  
  .shop-block-five .inner-box .content-box .text{
    position: relative;
    margin-bottom: 33px;
  }

  /* Color */
    .product-flags .category.green-bg {
        background: var(--primarycolor);
    }

    .product-flags .category.green-bg:after {
    background: var(--primarycolor);
    }

    .product-flags .category.green-bg:before {
        background: var(--primarycolor);
    }

/* Additional */

.newsletter-form .btn {
  background: #222;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-size: 16px;
}
.newsletter-form .btn:hover {
  color: #222;
  background: #fff;
}

.align-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer {
  padding-top: 0px;
}

.theme-price-and-shipping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
}

.shop-block-one .inner-box .lower-content a{
  font-family: poppins;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}

.theme-price-and-shipping span
{
  color:#000;
  font-family:poppins;
  font-size:12px;
  font-weight:300;
  padding:5px 10px;
}

.theme-price-and-shipping span:not(.price){
  background:#f5f5f5;

}

.theme-price-and-shipping .regular_price{
  text-decoration: line-through;
}


/* Dropdown */

#header .dropdown-menu {
  position: absolute;
  padding: 0px;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 160px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 20px 20px -10px rgb(0, 0, 0, 0.1);
}

#header .dropdown-menu li:not(:last-child){
  border-bottom: 1px solid #e9e9e9;
}

#header .dropdown-menu li a {
  padding:12px;
}

#header .dropdown-menu a:hover , #header .dropdown-menu a:hover i {
  text-decoration: none;
  color: #fff!important;
  background-color: var(--primarycolor);
}

.cont_info_content {
  text-align: right;
}

/* Pagination */

.pagination-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.pagination{
  position: relative;
  display: block;
}

.pagination li{
  display: inline-block;
  margin: 0px 0px;
  background: white;
}

.pagination li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: #111;
  background: transparent;
  z-index: 1;
  transition: all 500ms ease;
}

.pagination li a:hover,
.pagination li a.active{
  color: #fff!important;
  background: var(--primarycolor);
}

.item-showing-desc {
  font-family: 'Poppins'!important;
  padding:30px 0px;
}
/* Pagination */

/* Header Top Section */

.header-section .header-nav-sec > div > div {
  height: 100%;
}

.header-section *:not(i , .cart-popup)
{
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 600;
}

.header-section{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.header-nav-sec > div > div {
  display: flex;
  min-height: 40px;
  align-items: center;
  padding: 10px;
  min-width: max-content;
}

.header-nav-sec > div > div:not(:last-child){
  border-right:1px solid #f0f0f0;
}

.header-section .left-header-nav > div {
  border-left:1px solid #f0f0f0;
}

.header-section .right-header-nav {
  justify-content: flex-end;
}

.header-section .language-block{
  display: flex;
  gap:5px;
}

.header-section .social-links {
  display: flex;
  gap:10px;
}

.header-nav-sec i {
  color: var(--primarycolor);
}

.header-section .social-links i {
  transition: 0.5s;
  background: var(--primarycolor);
  color: #f0f0f0;
  padding: 5px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 25px;
}
.header-section .social-links a:hover i {
  background: var(--primarycolor);
  color: #f0f0f0;
}

.header-nav-sec>div {
  display: flex;
}

/* Header Top Section */

/* Header Cart */

.cart-popup .btn:not(.input-group .btn) {
  height: 40px;
}

.header-section .cart-items::-webkit-scrollbar {
  background: rgb(0,0,0,0.02);
}

.header-section .cart-preview .header{
  position: relative;
}
.header-section .cart-preview .header button{
  cursor: pointer;
}

.header-section .cart-products-count , .header-nav-row .cart-products-count{
  color: white;
  position: absolute;
  background: var(--primarycolor);
  top: -20px;
  left: 15px;
  border-radius: 50px;
  width: 1.5rem;
  text-align: center;
  line-height: 1.5rem;
}

#header .cart-popup{
  position: fixed;
  padding: 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #fff;
  border: none;
  max-height: 100vh;
  overflow-y: scroll;
  box-shadow: 0px 20px 20px -10px rgb(0, 0, 0, 0.1);
}

#header .cart-popup::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}
 
#header .cart-popup::-webkit-scrollbar-thumb {
  background-color:var(--primarycolor);
}

.cart-popup-close-button button {
  height:40px;
  width: 40px;
}

.cart-popup .cart-popup-close-button , .cart-popup .cart-popup-checkout-total{
  display: flex;
  justify-content: flex-end;
  gap:5px;
}

.cart-pop-content .col-md-6 > div.input-group{
  padding:10px 0px;
}

.cart-pop-content .col-md-6>div{
  border:none;
}

.cart-pop-content .cart-items .row , .cart-count-sec{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width:360px){
  .cart-pop-content .cart-items .row , .cart-count-sec{
    gap:20px;
  }
}

.header-nav-sec {
  display: flex;
  justify-content: center;
}

.cart-popup h2{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #333;
  font-weight: bold;
}

.cart-pop-content {
  padding:60px 0px;
}

.cart-pop-content .no-items {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 11px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.cart-popup-top{
  padding-top:40px;
}

.cart-popup-bottom {
  padding-bottom:40px;
}

.cart-popup-total-value span {
  color:var(--primarycolor);
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.02em;
  font-weight: bold;
}
.cart-popup-total-value .cart-summary-line {
  display: flex;
  gap: 10px;
}


.input-group button {
  color: grey;
  background: #f6f6f8;
}
.input-group button:hover {
  color: #222;
  background: #f1f1f1;
}

.cart-pop-content .no-items {
  display: flex;
  justify-content: center;
}

.cart-popup-total-value .cart-summary-line .label{
  display: none;
}

.product-line-grid {
  display: flex;
  align-items: center;
  gap:20px;
}

.cart-pop-content .product-line-grid>div:not(.clearfix) {
  padding:0;
}

@media (max-width:767px){
  .left-header-nav {
    display: none!important;
  }

  .product-line-grid {
    flex-direction: column;
  }
  .product-line-grid>div{
    width: 100%;
  }
}

/* Header Cart */

/* Foooter-newsletter-section */

.foooter-newsletter-section {
  background: var(--primarycolor);
  padding:80px 0px;
}

.foooter-newsletter-section p , .foooter-newsletter-section h1 {
  font-family: 'poppins';
  color: #fff;
  letter-spacing: 0.1em;
}

.foooter-newsletter-section .newsletter-form{
  display: flex;
  gap:10px;
}

.foooter-newsletter-section .newsletter-form input{
  border:none;
  font-family: 'poppins';
  min-height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Footer Conaitner */

.foooter-widget-section .links .title{
  padding:10px 0px;
}

.foooter-widget-section{
  padding:40px 0px;
}
.foooter-widget-section .links ul li{
  font-family: 'poppins';
  font-size: 14px;
  padding-top:10px;
}

.foooter-widget-section .links ul li a{
  color:#000;
}
.foooter-widget-section .links ul li a:hover{
  color:var(--primarycolor);
}

/* Footer Bottom Section */

.foooter-bottom-section {
  font-family: 'poppins';
  font-size:12px;
  font-weight: 300;
  padding:20px 0px;
  text-align: center;
  color:#777;
  background:#242424;
}
.foooter-bottom-section a{
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  /* text-transform: uppercase; */
  letter-spacing: 0.5px;
}

/* Subscription Popup */

.sub-popup-overlay {
  display:none;
  z-index:99;
  background:rgb(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.subscription-modal {
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index:999;
  position:fixed;
  width:600px;
  max-width:90%;
  top:20%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.subscription-modal.active{
  visibility: visible;
  opacity: 1;
  top:50%;
}

.subscription-modal button.close{
  position: absolute;
  right: 10px;
  top: 10px;
  outline: 0px;
}

.subscription-modal .col-md-7, .subscription-modal .col-md-5{
  width: 100%;
  justify-content: center;
}
.subscription-modal .row{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
}
.subscription-modal .foooter-newsletter-section{
  background: #fff;
}
.subscription-modal .foooter-newsletter-section p, .subscription-modal .foooter-newsletter-section h1{
  color: #000;
}
.subscription-modal .popup-dont .box {
  transition: 1s;
  position: absolute;
  background: transparent;
  height: 15px;
  width: 15px;
  z-index: 9;
  left: -19px;
  border: 1px solid #111;
  top: 7px;
}
.subscription-modal .popup-dont input[type="checkbox"] {
  display: none;
}
.subscription-modal .popup-dont .checked{
  background: #333;
}
.subscription-modal .popup-dont .checked:before {
  content: "\e876";
  color: #fff;
  font-size: 18px;
  line-height: 1em;
  position: relative;
  left: -2px;
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  top: -4px;
}
.subscription-modal .popup-dont label{
  transition:0.5s;
  font-size: 12px;
  cursor: pointer;
}
.subscription-modal .popup-dont label:hover{
  color: var(--primarycolor);
}
.subscription-modal .popup-dont{
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.html-popup-content {
  background: white;
  padding: 60px 40px 80px 40px;
}
@media (max-width:452px){
  .foooter-newsletter-section .newsletter-form {
    flex-wrap:wrap;
  }
}

/* Breadcrumb */

.breadcrumb {
  padding: 30px 0px 30px 0px;
}

.breadcrumb ul{
  margin: 0;
}

.breadcrumb ul li{
  font-family:'poppins';
  font-size:12px;
  font-weight: 300;
  color:var(--primarycolor);
}

.breadcrumb ul li a{
  font-family:'poppins';
  font-size:12px;
  font-weight: 300;
  color:#777;
}
.breadcrumb ul li a:hover{
  color:var(--primarycolor);
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb ul li{
  position: relative;
  padding-right:10px;
}

.breadcrumb ul li:not(:first-child){
  padding-left:10px;
}

.breadcrumb ul li:not(:first-child):before {
  content:'';
  position: absolute;
  width: 1px;
  height: 100%;
  left:0px;
  top:0px;
  background:#d6d6d6;
}

/* Product Page */

.product_title
{
  font-family: 'poppins';
  font-size: 36px;
  font-weight: 600;
}
.page-content {
  position: relative;
}
.product-cover {
  margin-bottom: 0.5rem;
  position: relative;
}
.page-product .product-cover .layer {
  transition:1s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgb(0,0,0,0.5);
  text-align: center;
  cursor: pointer;
}
.page-product .product-cover .layer:hover {
  top: 0;
  opacity: 1;
}
.page-product .product-cover .layer .zoom-in {
  font-size: 3.125rem;
  color: #fff;
}
.product-prices{
  font-family: 'poppins';
}
.current-price {
  font-size: 36px;
  padding-top:10px;
}
.product-discount .discount {
  background: var(--primarycolor);
  color: #fff;
  padding:2px 10px;
  font-weight: 600;
}
.product-discount .regular-price {
  text-decoration: line-through;
  color: #ffffff;
  padding:2px 10px;
  font-weight: 600;
  background: #505050;
}

.scroll-box-arrows i {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 8px;
  bottom:1.6rem;
}

/* Blockreassurance_product */

.blockreassurance_product .item-product{
  all:unset
}

.blockreassurance_product .item-product img, .blockreassurance_product .item-product svg{
  all:unset;
  width: 40px;
  height: 40px;
  padding:5px;
  border:1px solid #dddddd;
  object-fit: contain;
}

.blockreassurance_product .block-title{
  font-family: 'poppins';
  font-size:16px;
  font-weight: 800;
}
.blockreassurance_product p {
  font-family: 'poppins';
  font-size:12px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.blockreassurance_content {
  display: flex;
  flex-direction: column;
}

/* Social Share */

.social-sharing li {
  transition:0.5s;
  text-align: center;
  display: inline-block;
  min-width: 40px;
  padding: 10px;
  border: 1px solid var(--primarycolor);
}
.social-sharing li:hover {
  background: var(--primarycolor);
}
.social-sharing li:hover a {
  color:#fff;
}
.social-sharing li a{
  color:var(--primarycolor);
  font-size: 16px;
}

.social-sharing ul {
  margin-bottom: 0;
}

/* Add to Cart */
.product-add-to-cart .btn-primary{
  transition:0.2s;
  padding: 10px 20px;
  color: #fff;
  background: var(--primarycolor);
}

.product-add-to-cart .btn-primary:hover{
  background: #000;
}

/* Product Tab Section */

.tabs .tab-pane {
  padding-top: 20px;
}
.tabs .nav-tabs {
  border: none;
  border-bottom: 2px solid #f1f1f1;
}
.tabs .nav-tabs .nav-link {
  transition:1s;
  font-family: 'poppins';
  font-size:14px;
  padding: 20px 0px;
  margin-right: 20px;
  color: #7a7a7a;
  border: 0 solid transparent;
}
.tabs .nav-tabs .nav-link.active {
  color: #333;
}
.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
  color: var(--primarycolor);
  border: none;
  border-bottom: 3px solid #333;
}
.tabs .nav-tabs .nav-item {
  float: left;
  margin-bottom: -0.125rem;
}


/* Product Attachments */

.product-attachments .attachment {
  padding: 20px 0px;
  border-bottom: 1px solid #dfdfdf;
}

.product-attachments .attachment>a {
  color:white;
  font-family: 'poppins';
  font-size:14px;
  background:var(--primarycolor);
  padding: 10px 20px;
}

.product-attachments .attachment h4 a{
  font-family: 'poppins';
  font-size:18px;
  font-weight: 800;
  line-height: 2em;
}

.product-attachments .attachment p {
  font-family: 'poppins';
  font-size:14px;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 20px!important;
}

.product_tabs>div *{
  margin-bottom: 20px;
}

.product_tabs .product-features>p{
  font-size:20px;
}

.product_tabs .product-features{
  padding: 0px 20px;
  border: 1px solid rgb(0,0,0,0.1);
}

.product_tabs *{
  font-family: 'poppins';
  font-size:14px;
  font-weight: 300;
  line-height: 2em;
}

#wrapper .breadcrumb[data-depth="1"]{
  display: none;
}

/* Product Categories */

.subcategories-list {
  font-weight: 800;
  font-family: 'poppins';
}

.subcategories-list *{
  transition:0.5s;
}

.subcategories-list > div {
  padding-bottom: 20px;
}

.subcategories-list div:hover img{
  transform: scale(1.2);
}

.subcategories-list img{
  width:100%;
}

.subcategories-list {
  text-align: center;
}

.subcategories-list a{
  color: #333;
  text-transform: uppercase;
  font-size: 22px;
}
.subcategories-list div:hover a{
  color:#0d0d0d;
}

.subcategories-list div .subcategory-image {
  overflow: hidden;
}

/* Product Categories */

/* Cart Page Design */
.product-quantity input {
  height: 100%;
}

.cart-table .product-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cart-items .current-price span{
  font-size: 22px;
  font-weight: 600;
}

.cart-items li:not(:last-child) {
  border-bottom: 1px solid #f8f8f8;
}

.product-line-grid-body .product-discount {
  padding-top:10px;
  line-height: 2;
}

.cart-detailed-totals table {
  font-family: 'poppins';
  font-weight: 600;
}

.cart-summary-totals {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Cart Page Design */

.category_desc h5 {
  margin-top: 20px;
}

.left-sidebar{
  margin-bottom:20px;
}

.left-sidebar a {
  transition: 0.2s;
}
.left-sidebar a:hover {
  color: var(--primarycolor)!important;
}

.left-sidebar .ui-slider-horizontal {
  margin: 0px 10px;
}

.left-sidebar>div {
  font-family: 'poppins';
  padding-bottom:20px;
}

@media (min-width:768px){
  .left-sidebar:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    bottom:0px;
    width: 1px;
    background: #e9e9e9;
  }
  
}

.custom-checkbox input[type="checkbox"] + span{
  border-radius: 50px;
}

/* Website_collection */

.btn {
  background: var(--primarycolor);
  border: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.3px;
  position: relative;
  outline: 0 !important;
  padding: 15px 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  text-transform: uppercase;
  font-weight: 700;
}

.cart-popup-close-button .btn i
{
  color:#fff;
}

.btn .icon,
.btn .fa {
  font-size: 22px;
  line-height: 22px;
  margin-right: 7px;
  position: relative;
  top: 1px;
}
.btn:active,
.btn:visited,
.btn:focus {
  color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn:hover {
  background: #333;
  color: #fff;
  border-color: #333;
}
/* Website_collection */


/* Sub Categories */
.category-sub-menu ul,
.category-sub-menu li
{
  margin: 20px 0px;
}
.category-top-menu ul ul{
  margin-left: 10px;
}
.left-sidebar li , .left-sidebar li a{
  font-size: 14px;
}
.block-category {
  margin-bottom: 15px;
}

#search_filters .facet .facet-label .custom-checkbox, #search_filters .facet .facet-label .custom-radio {
  top: -10px;
}
.left-sidebar .text-uppercase {
  font-size: 18px;
  font-weight: 800;
}

.facet-title {
  color: var(--primarycolor);
  font-size: 14px;
}

.left-sidebar #search_filters>section:not(:last-child) {
  border-bottom: 1px solid #e9e9e9;
}

.ui-slider .ui-slider-handle {
  background: var(--primarycolor)!important;
  width: 20px!important;
  height: 20px!important;
  border-radius: 50%;
  margin-left: -10px!important;
  margin-top: -4px;
}

#search_filters .ui-slider .ui-slider-handle , #search_filters .ui-widget-content {
  border: none!important;
  top:-.3em;
}

a.ui-slider-handle.ui-state-default.ui-corner-all:focus{
  outline: none;
}

#search_filters .ui-widget-header{
  background: var(--primarycolor);
}

/* Product Page Design */

span.control-label {
  color: #333;
  margin: 0 0 12px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
}

.brands-sort .select-title, .products-sort-order .select-title, .suppliers-sort .select-title {
  display: flex;
  align-items: center;
  /* display: inline-block; */
  width: auto;
  color: #777;
  background: #f6f6f8;
  padding: 0.625rem;
  cursor: pointer;
}

.brands-sort .dropdown-menu,
.products-sort-order .dropdown-menu,
.suppliers-sort .dropdown-menu {
    right: 0;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.brands-sort .select-list:hover,
.products-sort-order .select-list:hover,
.suppliers-sort .select-list:hover {
    background: var(--primarycolor);
    color: #fff;
    text-decoration: none;
}


.blockreassurance_product>div{
  display: flex;
  align-items: center;
  gap:10px;
}

.product-container .blockreassurance_product {
  display: flex;
  gap:20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-container .blockreassurance_product > div{
  width: 280px;
  flex: auto;
}
.product-container .blockreassurance_product > div.clearfix{
  display: none;
}

/* Quick View Modal */


.quickview .modal-content {
  background: #fff;
  min-height: 28.13rem;
}
.quickview .modal-header {
  border: none;
}
.quickview .modal-body {
  padding: 0px 45px;
}
.quickview .modal-footer {
  border:none;
}

.quickview .social-sharing li{
  border:none;
}

.product-images > li.thumb-container > .thumb{
  transition:0.5s;
  border: 1px solid #fff;
}
.product-images > li.thumb-container > .thumb.selected,
.product-images > li.thumb-container > .thumb:hover {
    border: 1px solid var(--primarycolor);
}


/* Page Title */

.page-header h1 {
  text-align: center;
  font-size: 60px;
  padding: 20px 0px;
  color: #333;
}
@media (max-width:1024px){
  .page-header h1 {
    font-size: 36px;
    line-height: 3rem;
    padding-bottom: 10px;
  }
}
@media (max-width:768px){
  #header.is-open {
    box-shadow: none;
  }
  .page-header h1 {
    font-size: 36px;
    line-height: 3rem;
  }
}

/* Section Title */
.featured-products .products-section-title {
  margin: 0;
  padding-top:20px;
  padding-bottom:20px;
}

/* Cart Page Related Product */

.page-cart .featured-products.clearfix {
  padding-left: 15px;
  padding-right: 15px;
}

/* Sign In Page Design */
.login-form-row {
  display: flex;
  flex-wrap: wrap;
  gap:40px;
}

.login-form-row > div{
  border: 1px solid #e9e9e9;
  margin-top: 36px;
  margin-bottom: 20px;
  padding: 55px 49px 43px 49px;
  min-height: 400px;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  flex:auto;
  width: 450px;
}

.login-form-row .forgot-password {
  padding-bottom: 10px;
}

.login-form-row .label, label {
  text-align: left;
}

/* My Shop Default Css */

/* Product Grid View */

.products .product .lower-content .product-addition .product-quantity>div:not(.add),
.products .product .lower-content .product-addition .product-add-to-cart>span{
  display:none;
}

.products .product .lower-content .product-addition .product-quantity {
  justify-content: center;
  margin-top: 6px;
  padding-bottom: 15px;
}

.products .product .lower-content .product-variant {
  margin-top: 16px;
}

.products:not(.list) .product .lower-content .product_inside_hover .product-add-to-cart {
  padding: 0px 10px 10px;
}

.products .product .lower-content .product_inside_hover{
  position: static;
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.product-content {
  display: none;
}

.js-qv-product-images{
  text-align-last: center;
}

@media (min-width:1199px){
  .products .product .lower-content .product_inside_hover{
    position: absolute;
    opacity: 0;
    z-index:9999;
    left: -15px;
    right: -15px;
    transition: 0.2s;
    background: #fff;
    visibility: hidden;
    transform: scale(0.95);
    margin-top: -60px;
  }
  .products .product:hover .lower-content .product_inside_hover{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  
  .products .product-miniature{
    /* transition: 0.2s; */
    padding: 15px;
    z-index:9;
  }
  
  .products .product-miniature:hover,
  .products .product-miniature:hover .lower-content .product_inside_hover
  {
    background: #fff;
    z-index: 99;
    margin-top: 0px;
    box-shadow: 0px 30px 60px -20px rgba(0, 0, 0, 0.1);
  }
}

/* Product List View */

.list .shop-block-one .inner-box .lower-content .theme-price-and-shipping {
  justify-content: start;
}

.list .shop-block-one .inner-box .lower-content a {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.list > div {
  width: 100%;
}

.list button.add-to-cart {
  font-size: 12px;
}

.list .product-content {
  display: block;
  margin-bottom: 20px;
  line-height: 24px;
  font-size: 14px;
}

.list .product-variant a{
  margin: 0;
}

.list .product_inside{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
}
.list .product_inside .product-list-reviews {
  justify-content: left;
  margin-top: 10px;
}
.list .product_inside .image-box{
  flex: auto;
}

@media (min-width:576px){
  .list .product_inside .image-box{
    max-width: 260px;
  }
}

.list.products .product .lower-content .product_inside_hover {
  all:unset;
}

.list .inner-box .lower-content{
  flex: auto;
  width: 350px !important;
  text-align: left;
}

.list .theme-price-and-shipping span{
  padding:0;
}
.list.products .product-miniature:hover,
.list.products .product-miniature:hover .lower-content .product_inside_hover{
  box-shadow: none;
}

.products .product-miniature:hover{
  background: transparent;
}
.list.products .product .lower-content .product-addition .product-quantity {
  justify-content: flex-start;
}

/* Product Layout Switcher Toggle */
.layout-switcher button.active {
  color:var(--primarycolor);
  border: 1px solid  var(--primarycolor);
}
.layout-switcher button {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #dfdfdf;
  background: none;
}

.layout-switcher button:focus{
  outline:none;
}

.products-selection .total-products {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

.products-selection .short_sec {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Back to Top */
.back-to-top-div{
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 99;
}

.back-to-top-btn {
  padding: 10px;
}
.back-to-top-btn:hover {
  background: #2b2b2b;
}
.back-to-top-btn i{
  color:white;
}


/* Added Cart Pop */

.added_cart_pop .product-name{
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-bottom: 26px;
}
.added_cart_pop {
  display: flex;
  align-items: center;
  text-align: center;
}
.added_cart_pop .total-text{
  color: #333;
}
.added_cart_pop .product-price , .added_cart_pop .cart-content .subtotal {
  color: var(--primarycolor);
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  margin: 10px;
}

/* Account Page */

.account_dash a {
  transition: 0.5s;
  color:#333;
  padding: 40px 0px;
  border: 1px solid transparent;
}
.account_dash a:hover
{
  color: var(--primarycolor);
  box-shadow: 0px 20px 30px -10px rgb(0,0,0,0.08);
}

.account_dash a .link-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:10px;
}

.col-md-6>.form-control-comment {
  font-size: 12px;
  line-height: 30px;
  color: #b6b6b6;
}

/* Comment / Review */

#product-comments-list-header .comments-nb {
  font-weight: 600;
  text-transform: uppercase;
}

.product-comment-list-item .comment-infos {
  font-family: arial;
  letter-spacing: .2px;
}
.product-comment-list-item .comment-infos .comment-author{
  font-weight: 700;
}
.product-comment-list-item:not(:last-child){
  border-bottom: 1px solid #f0f0f0;
}

.product-comment-list-item > div{
  padding-left: 0;
}

.product-comment-list-item .thumb_up:hover{
  color: #5fd179;
}
.product-comment-list-item .thumb_down:hover{
  color: #ff7272;
}
.product-comment-list-item .outlined_flag:hover{
  color: #ffc800;
}

/* Slick SLider */

.slick-arrow {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #fff;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -25px;
  font-size: 0;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.slick-arrow:before {
  display: block;
  font-family: "Material Icons";
  font-size: 30px;
  line-height: 50px;
  color: #c2c2c2;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.slick-next:before {
  content: "\e5cc";
}
.slick-prev:before {
  content: "\e5cb";
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.text-center {
  text-align: center;
}
.dropdown .expand-more {
  line-height: 25px;
}
.cont_info_content b {
  font-size: 18px;
  color: #111;
}
.featured-products {
  padding: 80px 0;
}
.h2, h2 {
  font-size: 26px;
  letter-spacing: .02em;
}
.foooter-newsletter-section h1 {
  font-size: 28px;
  font-weight: 700;
}
#block_myaccount_infos .myaccount-title a,
.block-contact .block-contact-title,
.foooter-widget-section .h3 {
  font-size: 20px;
}
.btn .material-icons.shopping-cart {
  margin-right: 4px;
}
#product-comments-list .btn-comment {
  float: left;
}
.product-quantity .input-group-btn-vertical {
  vertical-align: top;
}
.product-quantity .qty {
  margin-top: 10px;
}
.tabs .nav-tabs .nav-link {
  text-transform: uppercase;
  color: #111;
}
#product-comments-list-footer {
  margin-bottom: 80px;
}
#product-comments-list-header .comments-nb {
  font-size: 24px;
}
.product-container {
  padding-top: 60px;
  padding-bottom: 80px;
}
.product-comment-list-item:not(#empty-product-comment) {
  padding: 26px;
  margin: 0 0 20px;
  background-color: #f8f8f8;
  text-align: left;
  box-shadow: 0 0 14px -7px rgb(0 0 0 / 40%);
}
.list-simple-dot li a {
  color: #111;
  font-weight: 500;
}
.product-comment-modal input {
  border: 1px solid rgba(0,0,0,.1);
}
.product-comment-modal textarea {
  border: 1px solid rgba(0,0,0,.1);
}
#main .page-footer {
  margin-bottom: 0;
}
.contact-form .form-control {
  border: 1px solid rgba(0,0,0,.1);
  background: transparent;
  height: 55px !important;
  padding: 0 15px;
}
.contact-form .form-control:focus{
  border-color: var(--primarycolor);
}
.contact-form textarea.form-control {
  height: 100px !important;
  padding-top: 15px;
}
.contact-form .form-control-label {
  font-size: 16px;
}
.contact-form .form-group.row .col-md-6 {
  width: 75%;
}
.contact-form .form-group.row  span.col-md-3.form-control-comment {
  display: none;
}
.contact-rich .block .data {
  font-size: 16px;
}
@media (min-width: 576px){
.contact-rich .block a[href^="mailto:"] {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}
}
.contact-form h3 {
  font-size: 24px;
}
.page-cart #wrapper > .container > .row,
.page-search #wrapper > .container > .row,
.page-category #wrapper > .container > .row,
.page-contact #wrapper > .container > .row {
  padding: 10px 0px 80px 0px;
}
.alert-danger ul {
  margin-bottom: 0;
}
.product-line-grid-body > .product-line-info > .label {
  font-size: 14px;
}
.product-line-grid-right .cart-line-product-actions, .product-line-grid-right .product-price {
  font-weight: 600;
}
.cart-summary-line .label {
  font-weight: 600;
}
.product-list-reviews {
  background: transparent;
  position: static;
}
#products .thumbnail-container, .featured-products .thumbnail-container, .product-accessories .thumbnail-container, .product-miniature .thumbnail-container {
  background: transparent !important;
  height: auto !important;
  box-shadow: none !important;
  width: 100% !important;
  margin-bottom: 0 !important;
}
.product-information {
  font-size: 14px;
}
.product-actions .control-label {
  margin-bottom: 15px;
}


.price-bottom-h > div{
  display: flex;
  gap: 10px;
  justify-content: left;
}

.price-bottom-h > div > div {
  display: flex;
  align-items: center;
  margin: 0;
}

.price-bottom-h > div > div .star-content {
  margin: 0;
}

.price-bottom-h > div > div > span {
  display: none;
}

.price-bottom-h > div > .comments-note {
  margin: 0px;
}

.product-list-reviews {
  display: flex;
  align-items: center;
}


/* Smartblog Stylesheet */

.smart-blog-posts-info .comment-count-number {
  background:var(--primarycolor);
}

.smart-blog-post-readmore-btn a{
  background:var(--primarycolor);
}

.smart-blog-posts-navigation li a ,
.smart-blog-posts-navigation li a:hover
{
  background:none;
  color:var(--primarycolor)!important;
}

.smart-blog-comm-button-area .submit .smart-blog-comment-btn,
.smart-blog-page-not-found-input > button {
  background:var(--primarycolor);
}

.smart-blog-page-not-found .smart-go-back-home a {
  color: #fff;
}

.smart-blog-home-latest-news {
  overflow: visible;
}

.smart-blog-bottom-pagination .pagination li .page-link {
    height: unset;
    width: unset;
    line-height: unset;
}

.smart-blog-bottom-pagination .pagination li .page-link.page-active {
  background:var(--primarycolor);
}

/* Category Page Layout */

.page-content.card.card-block>ul > li {
  transition: 1s;
    gap: 20px;
    background: #fff;
    list-style: none;
    padding: 30px 60px;
    border:1px solid #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 5%);
}
.page-content.card.card-block>ul > li:hover{
    border:1px solid var(--primarycolor);
}
.page-content.card.card-block>ul {
    display: flex!important;
    gap: 20px;
    flex-wrap: wrap;
}
#content-hook_order_confirmation {
    padding-top: 40px;
}

.inner-box .thumbnail-container .wishlist-button-add {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background: none;
  box-shadow: none;
}

.wishlist-list-item p,
.wishlist-toast-text
{
  margin: 0px;
}

.wishlist-button-add i{
  color: var(--primarycolor)!important;
}