.ce_pr *{
    transition: 0.5s;
}
.ce_pr .row.ce_pr_row {
    display: flex;
    flex-wrap: wrap;
}
.ce_pr .row.ce_pr_row > div {
    margin-bottom: 20px;
}
.ce_pr .thumbnail{
    position: relative;
}
.ce_pr .product_desc{
    padding: 20px;
    text-align: left;
}

.ce_pr .ce_pr_row>div .product_inner {
    overflow: hidden;
    height: 100%;
}
/* Add_to_cart */

.ce_pr .ce_pr_row .add_to_cart_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: inherit;
    color: inherit;
    outline: none;
}
.ce_pr .ce_pr_row .add_to_cart{
    background: white;
    width: 100%;
}

.ce_pr .ce_pr_row .add_to_cart .avail_msg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    font-size: 12px;
    padding: 10px;
}

.add_to_cart_btn:disabled {
    display: none!important;
}

.ce_pr .ce_pr_row .add_to_cart a{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.ce_pr .thumbnail .add_to_cart{
    position: absolute;
    bottom:0px;
    bottom: -44px;
    opacity: 0;
    left: 0;
    visibility: hidden;
}
.ce_pr .ce_pr_row>div:hover .thumbnail .add_to_cart{
    bottom:0;
    opacity: 1;
    visibility: visible;
}

/* Product flag */

.ce_pr .product_flag{
    position: absolute;
    top:10px;
    left: 0;
}

.ce_pr .product_flag > p{
    background: white;
    font-weight: 600;
    padding: 5px 10px;
}


/* Taxonomy */

.ce_pr .texonom{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
}

.ce_pr .texonom > p{
    font-size: 12px;
    margin: 0px;
    padding: 5px 15px;
    background: #f8f8f8;
}
.ce_pr .texonom > p.manufacturer_name{
    background: #f8f8f8;
}

/* Product info */
.product_info {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product_info > p{
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    padding: 10px;
    background: #f8f8f8;
    margin: 0;
}

.product_info > p.regular_price.has_discount {
    text-decoration: line-through;
}


/* Skin Two */
.ce_pr.skin_two .ce_pr_row > div{
    position: relative;
}
.ce_pr.skin_two .ce_pr_row .product_desc {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 9;
    left: 15px;
    right: 15px;
    top: 90%;
    background: #fff;
}
.ce_pr.skin_two .ce_pr_row>div:hover .product_desc {
    display: block;
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.ce_pr.skin_two .ce_pr_row .add_to_cart{
    transition-delay: 0.2s;
}

/* Skin Three */

.ce_pr.skin_three .product_flag{
    display: flex;
    gap: 10px;
    left: 10px;
}

.ce_pr.skin_three .thumbnail .add_to_cart{
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
    width: fit-content;
}

.ce_pr.skin_three .ce_pr_row>div:hover .thumbnail .add_to_cart{
    top: 50%;
    bottom: unset;
}

.ce_pr.skin_three .ce_pr_row .product_desc {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 9;
    left: 15px;
    right: 15px;
    top: 90%;
    background: #fff;
}

.ce_pr.skin_three .ce_pr_row>div:hover .product_desc {
    display: block;
    opacity: 1;
    top: 100%;
    visibility: visible;
    transition-delay: 0.2s;
}